:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --logo-color: #000000;
  --accent-color: #2196f3;
  --secondary-color: #ffffff;
  --title-color: #212121;
  --description-color: #757575;
  --btn-background: #f5f4fa;
  --background-secondary: #2f303a;
  --contact-color: rgba(255, 255, 255, 0.6);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--main-font);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.address {
  font-style: normal;
}

img {
  display: block;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/*===========COMPONENTS===========*/
.logo-accent {
  color: var(--accent-color);
}
/*===========END COMPONENTS===========*/

/*===========HEADER===========*/
.header {
  border-bottom: 1px solid #ececec;
}
.header .container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation-list {
  display: flex;
  align-items: center;
}

.address {
  display: flex;
  align-items: center;
}

.navigation-list-item:not(:last-child) {
  margin-right: 50px;
}

.header .address {
  margin-left: auto;
}

.header .address-mail-item {
  margin-right: 50px;
}

.logo {
  margin-right: 90px;
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;

  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--logo-color);
}

.navigation-list-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--title-color);
}

.navigation-list .navigation-list-link.current {
  color: var(--accent-color);
}

.navigation-list-link:hover,
.navigation-list-link:focus,
.address-mail-link:hover,
.address-mail-link:focus,
.address-tel-link:hover,
.address-tel-link:focus {
  color: var(--accent-color);
}

.address-mail-link,
.address-tel-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--description-color);
}

.icon-mail,
.icon-tel {
  margin-right: 10px;
}

.address-mail-link:hover svg {
  fill: var(--accent-color);
}
/*===========END HEADER===========*/

/*===========BUTTON===========*/
.our-projects {
  padding-top: 94px;
  padding-bottom: 94px;
}

.our-projects-list {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 50px;
}

.our-projects-item:not(:last-child) {
  margin-right: 8px;
}

.our-projects-list .modal-btn.current {
  color: var(--secondary-color);
  background-color: var(--accent-color);
}

.modal-btn {
  padding: 6px 22px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  color: var(--title-color);
  background: var(--btn-background);
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: inherit;
}

.modal-btn:hover,
.modal-btn:focus {
  color: var(--secondary-color);
  background-color: var(--accent-color);
}
/*===========END BUTTON===========*/

/*===========ALL PROJECTS===========*/
.projects-deskription {
  padding: 20px;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
}

.projects-list-link {
  width: 370px;
}

.projects-list-item {
  margin-right: 30px;
  margin-bottom: 30px;
}

.projects-list-item:nth-child(3n) {
  margin-right: 0;
}

.projects-list-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.projects-list-item .projects-title {
  margin-bottom: 4px;
}

.projects-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}

.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--description-color);
}
/*===========END ALL PROJECTS===========*/

/*===========FOOTER===========*/
.contact {
  font-style: normal;
}

.footer {
  background-color: var(--background-secondary);
}

.footer-contact {
  padding-top: 60px;
  padding-bottom: 60px;
}

.contact-link:hover,
.contact-link:focus,
.contact-location:hover,
.contact-location:focus {
  color: var(--accent-color);
}

.footer-logo {
  display: block;
  margin-bottom: 20px;

  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.contact:not(:last-child) {
  margin-bottom: 10px;
}

.contact-location {
  display: block;
  margin-bottom: 10px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.contact-link.tel {
  display: block;
  margin-bottom: 0;
}

.contact-link {
  display: block;
  margin-bottom: 10px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--contact-color);
}

.footer .container {
  display: flex;
}

/* ====================== */
.social-footer {
  padding: 70px 0 100px 70px;
  width: 200px;
}

.social-footer-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-color);

  margin-bottom: 20px;
}

/*====sprite social list====*/
.social-list {
  display: flex;
  justify-content: space-between;
  width: 210px;
  margin: 0 auto;
}

.social-list_item .social-list_item-link {
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.social-list_item:not(:last-child) {
  margin-right: 10px;
}

.social-list_item-link svg {
  fill: #ffffff;
  width: 20px;
  height: 20px;
}

.team-social-list_item-link:hover {
  fill: var(--accent-color);
}
/*===========END FOOTER===========*/
